<div class="editbox">
<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>

  <p class="editbody">Title</p>
  <%= f.text_field :title %>

  <p class="editbody">Body</p>
  <%= f.text_area :body %>

  <div class="editbody">
  <%= f.submit 'Update Book' %>
  </div>
<% end %>
<div class="editbody">
<%= link_to "Show", book_path(@book.id) %> |
<%= link_to "Back", books_path%>
</div>
</div>